* {
  font-family: 'Nunito sans', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: #e3f8f3;
}

.Titulo-principal {
  font-size: 1.5rem;
}

.Titulo-Home {
  margin-right: 5rem;
  margin-top: 2rem;
}

span {
  background-color: red;
  color: #FFF;
}

.Resumo {
  padding-left: 7.4rem;
}

.Resumo > h2 {
  margin-left: 1rem;
  padding-top: 8rem;
}

.Resumo > p {
  margin-left: -4rem;
}

.carrossel {
  box-shadow: 0.125rem 0.125rem 0.25rem #000;
  overflow: hidden;
  height: 18.75rem;
  width: 18.75rem;
  margin-left: 3.3rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.container {
  display: flex;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
}

img {
  object-fit: cover;
  height: 18.875rem;
  width: 18.875rem;
}

.nav-list {
  display: flex;
  justify-content: end;
  padding-right: 3rem;
  margin-top: -2rem;
  height: 48rem;
  width: 70%;
  float: right;
  background-image: url(Assets/Imagem-fundo.jpg);
  background-size: cover;
  float: right;
}

.Footer {
  margin-top: -1.4rem;
}

.nav-list a {
  display: flex;
  color: #000;
  padding: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-list {
  position: relative;
  padding-top: 3rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile {
  display: none;
}

.Icon-1 {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 5.5rem;
  margin-left: 4.5rem;
}

.Icon-2 {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 5.5rem;
  margin-left: 4.5rem;
}

.Icon-3 {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 5.5rem;
  margin-left: 4.5rem;
}

.Footer {
  gap: 3rem;
}

.Icon-1 {
  display: inline-block;
  transition: 0.8s;
  background-color: transparent;
}

.Icon-1:hover {
  border-radius: 1rem;
  background-color: #0F0;
}

.Icon-2 {
  transition: 0.8s;
}

.Icon-2:hover {
  border-radius: 0.5rem;
  background-image: linear-gradient(to right, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
}

.Icon-3 {
  display: inline-block;
  background-color: transparent;
  transition: 0.8s;
}

.Icon-3:hover {
  border-radius: 0.2rem;
  background-color: #6eb8f5;
}

@media (max-width: 568px) {
  .nav-item {
      display: none;
  }

  .nav-list {
      display: none;
  }
  .nav-bar{
    position: fixed;
    top: 0; 
    left: 0; 
  }
  .mobile {
    height: 15rem;
    width: 9rem;
    margin-left: 1rem;
    background-color: #000;
}
 .nav-item2{
    z-index: 9999;
    margin-top: -.4rem;
    background-color: #000;

}

  .icon {
      width: 1.2rem;
      height: 1.2rem;
  }

  .mobile-menu-icon {
      display: block;
      color: #fff;
      padding-left: 1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .mobile ul {
      display: flex;
      flex-direction: column;
      margin-left: 2.5rem;
      gap: 4rem;
      padding-top: 1rem;
  }

  .mobile a {
      color: #fff;
      gap: 2rem;
      text-decoration: none;
  }

  .Resumo > .Sub {
      font-size: 0.8rem;
  }

  .carrossel {
      margin-left: 2rem;
  }

  .Footer {
      display: flex;
      gap: 0.5rem;
  }

  .open {
      display: block;
      background-color: #000;
      height: 19rem;
      width: 10rem;
  }
}

@media (min-width: 360px) and (max-width: 800px) {
  .open {
      display: block;
  }
  .nav-bar{
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 99999;
  }
}
@media (min-width: 375px) and (max-width: 812px) {
  .open {
    display: block;
  }
  .Resumo > .Sub {
    position: relative;
    left: 1rem; 
  }
  .carrossel {
    margin-left: 3rem;
  }
  .nav-bar {
    position: fixed;
    top: 0; 
    left: 0; 
  }
}
@media(min-width: 414px) and (max-width: 896px){
  .Titulo-Home{
    margin-left: 1.7rem;
  }
  .Resumo > .Sub {
    position: relative;
    left: 2rem; 
}
}
@media(min-width: 390px) and (max-width: 844px){
  .Titulo-Home{
    margin-left: 1.3rem;
  }
  .Resumo > .Sub {
    position: relative;
    left: 1rem; 
}
}
@media(min-width: 428px) and (max-width: 926px){
  .Titulo-Home{
    margin-left: 1.4rem;
  }
  .carrossel{
    margin-left: 3.6rem;
  }
  .Resumo > .Sub {
    position: relative;
    left: 2rem; 
}
.Resumo > .Trabalhos{
  position: relative;
    left: 1.5rem; 
}



}
@media (min-width: 800px) and (max-width: 1280px) {
  .nav-item {
      display: none;
  }

  .nav-list {
      display: none;
  }
  .nav-bar {
      width: 25rem;
      position: fixed;
      top: 0; 
      left: 0;      
  }
  .mobile {
    height: 28rem;
    width: 20rem;
    margin-left: 1rem;
    background-color: #000;
}
 .nav-item2{
    z-index: 9999;
    margin-top: -.4rem;
    background-color: #000;
    margin-left: 2.9rem;
}
.Titulo, .Sub{
  font-size: 2rem;
}

  .icon {
      width: 2rem;
      height: 2rem;
  }

  .Titulo-principal {
      margin-left: 7rem;
  }

  .Resumo > .Trabalhos,
  .Sub {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -9.3rem;
  }

  .Resumo > .Sub {
      margin-left: -6rem;
  }

  .carrossel {
      width: 30rem;
      height: 18rem;
      margin-top: 10rem;
      margin-left: 9rem;
  }

  .Footer {
      display: flex;
      justify-content: center;
      margin-top: 15rem;
      align-items: center;
      margin-left: -6.5rem;
  }

  .mobile-menu-icon {
      display: block;
      color: #fff;
      padding-left: 1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .mobile ul {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      gap: 5rem;
      padding-top: 1rem;
  }

  .mobile a {
      color: #fff;
      gap: 3rem;
      font-size: 2rem;
      text-decoration: none;
  }

  .open {
      display: block;
  }
}
